#main {margin:0 auto; width:780px;}

#header{height:162px}

.col_1, .col_2, .col_3, .height, .col_box_1, .col_box_2, .col_box_3{ float:left;}

/*======= index.html =======*/
#page1 #content .row_top .col_1{ width:296px;}
#page1 #content .row_top .col_2{ width:347px; margin-left:21px;}

#page1 #content .row_bot .col_1{ width:216px;}
#page1 #content .row_bot .col_2{ width:216px; margin-left:7px;}
#page1 #content .row_bot .col_3{ width:216px; margin-left:9px;}
/*=========================*/

/*======= index-1.html =======*/
#page2 #content .col_1{ width:411px;}
#page2 #content .col_2{ width:246px; margin-left:7px;}
/*=========================*/

/*======= index-2.html =======*/
#page3 #content .col_1{ width:330px;}
#page3 #content .col_2{ width:320px; margin-left:7px;}
/*=========================*/

/*======= index-3.html =======*/

#page4 #content .col_1{ width:441px;}
#page4 #content .col_2{ width:200px; margin-left:10px;}*/


/*=========================*/

/*======= index-4.html =======*/
#page5 #content .col_1{ width:216px;}
#page5 #content .col_3{ width:216px; margin-left:20px;}
/*=========================*/

/*======= index-5.html =======*/
#page6 #content .col_1{ width:641px;}
/*=========================*/


